<configuration>
  <system.serviceModel>
    <services>
      <service name="MyService" behaviorConfiguration="b">
            <endpoint address="http://localhost:9000/MyService.svc" binding="basicHttpBinding"
               contract="IMyService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="b">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="wsdl" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>